<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504108922509-erl2cqdf86a10c18j9nqdvlvsnfsrkjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504108922509-erl2cqdf86a10c18j9nqdvlvsnfsrkjd</string>
	<key>API_KEY</key>
	<string>AIzaSyCeHbBuGuQK8l5lUc1JaZ9ZQKngJGGKCos</string>
	<key>GCM_SENDER_ID</key>
	<string>504108922509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.graduationproject</string>
	<key>PROJECT_ID</key>
	<string>graduationproject-a1969</string>
	<key>STORAGE_BUCKET</key>
	<string>graduationproject-a1969.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504108922509:ios:2c7c15068267deeab194c4</string>
</dict>
</plist>